<!doctype html>
<html>
<head>

    <img src="close.png" alt="close" width="90" height="90" align="right" >

    <img src="write.png" alt="write" width="50" height="50" align="left" vspace="22" hspace="10">


<meta charset="utf-8">
<title>page_accueil</title>

<style>

#header {
    background-color:#87CEFA;
    color:black;
    text-align:center;
    margin-top: 1%;
    padding:8px;
}
p{
        width:30%;
        height:80px;

        border:solid 2px black;
        border-radius:10%;
        font-size:15px;
        line-height:80px;
        margin-left: 33%;
        margin-top: 3%;
        text-align:center;  
        float:center;
    }		 
}
</style>
</head>

<body>
	<div id="header">
	<h1> WebReport </h1>
</div>

<p>Projets</p>
<p>Lots</p>
<p>Activités</p>
<p>Activités à allouer</p>
<body>
</body>
</html>