<ion-header>
    <ion-toolbar>
            <ion-icon name="pencil-outline" slot="start" class="write" (click)="pushTo('/heures')"></ion-icon>
            <ion-title class="title">WebReport </ion-title>
            <ion-icon name="exit-outline" slot="end" class="close" (click)="disconnect()"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content id="header">
    <br><br>
    <ion-button (click)="pushTo('/projets')">Projets</ion-button><br><br>
    <ion-button (click)="pushTo('/lots')">Lots</ion-button><br><br>
    <ion-button (click)="pushTo('/activites')">Activités</ion-button><br><br>
    <ion-button (click)="pushTo('/allouer')">Activités à allouer</ion-button><br><br>
</ion-content>