<ion-header>
  <ion-toolbar>
    <ion-title>Activite</ion-title>
    <ion-button slot="start" fill="clear" size="small" color="medium">
      <ion-back-button color="medium" text="" defaultHref="/home"></ion-back-button>
    </ion-button>
  </ion-toolbar>
  <img src="close.png" alt="close" width="90" height="90" align="right" >

    <img src="write.png" alt="write" width="50" height="50" align="left" vspace="22" hspace="10">
</ion-header>

<ion-content>
  <div id="header">
  <h1> WebReport </h1>
  </div>
  <div id="section">
  <p id="Activités">
  Activités
  </p>
  <p id ="€">
  €
  </p>
  <p id ="heures">
  heures
  </p>
  <div style="width:100%;text-align:left;"></div>
  <form id ="form">
PPPP-LL-AAA
<input type="text" name="lastname" id="lastname"style="width: 38%">
<input type="text" name="lastname" id="lastname"style="width: 38%">
<br>
</pre> 
</form>
  <ion-button style="margin-left: 50%; ">
  Valider
  </ion-button>
</ion-content>


<!--DOCTYPE html>
<html>

<head>
    

<meta charset="utf-8">
<style>
p{display: inline;}   
</style>
</head>

<style>a{TEXT-DECORATION:none}</style--> 

