<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" size="small" color="medium">
      <ion-back-button color="medium" text="" defaultHref="/home"></ion-back-button>
    </ion-button>
    <ion-title>Activités à allouer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let activite of activites" button="true">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <h1>{{activite.Name}}</h1>
          </ion-row><br>
          <ion-row>
            <h2><b>Respo:</b></h2>
            <h2>{{activite.ActivityManagerID}}</h2>
          </ion-row>
          <ion-row>
            <h2><b>Etat:</b></h2>
            <h2>{{activite.ActivityStatus}}</h2>
          </ion-row>
          <br><ion-row>
            <h2><b>BP:</b></h2>
            <h2> {{activite.ForecastCost}}€ |</h2>
            <h2> {{activite.ForecastTime}}H </h2>
          </ion-row>
          <ion-row>
            <h2><b>BE:</b></h2>
            <h2> 100€ |</h2>
            <h2> 10H </h2>
          </ion-row>
          <br><ion-row>
            <ion-button expand="block" color="success">
              Attribuer
            </ion-button>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
