<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" size="small" color="medium">
      <ion-back-button color="medium" text="" defaultHref="/home"></ion-back-button>
    </ion-button>
    <ion-title>Renseigner son activité</ion-title>
  </ion-toolbar>
  <style>
  {display: inline;}
  </style>
</ion-header>


<ion-content>
  <div id="section">
  <ion-input id="Activités" placeholder="PPPP-LL-AAA">
  Activité
  </ion-input>
  <ion-input id ="€">
  Budget effectif(€)
  </ion-input>
  <ion-input id ="heures">
  Budget effectif(h)
  </ion-input>
  <!--div style="width:100%;text-align:left;"></div-->
 
</div>
  <ion-button id ="Valider">
  Valider
  </ion-button>
</ion-content>


