<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" size="small" color="medium">
      <ion-back-button color="medium" text="" defaultHref="/home"></ion-back-button>
    </ion-button>
    <ion-title>Projets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="form('','','','','','','')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-card *ngFor="let project of projects" button="true">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <h1>{{project.Name}}</h1>
          </ion-row><br>
          <ion-row>
            <h2><b>Respo:</b></h2>
            <h2>{{project.ProjectManagerID}}</h2>
          </ion-row>
          <ion-row>
            <h2><b>Etat:</b></h2>
            <h2>{{project.ProjectStatus}}</h2>
          </ion-row>
          <br><ion-row>
            <h2><b>BP:</b></h2>
            <h2> {{project.ForecastCost}}€ |</h2>
            <h2> {{project.ForecastTime}}0H </h2>
          </ion-row>
          <ion-row>
            <h2><b>BE:</b></h2>
            <h2> 100€ |</h2>
            <h2> 10H </h2>
          </ion-row>
          <br><ion-row>
            <ion-button color="primary" (click)="pushTo('/projet')">
              <ion-icon name="eye-outline" ></ion-icon>
            </ion-button>
            <ion-button color="success">
              <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="cloturer()">
              <ion-icon name="checkmark-done-outline"></ion-icon>
            </ion-button>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
