<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" size="small" color="medium">
      <ion-back-button color="medium" text="" defaultHref="/home"></ion-back-button>
    </ion-button>
    <ion-title>Projets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="form('','','','','','','')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-card *ngFor="let project of projects" button="true">
      <ion-card-content>
        <ion-grid>
          <h1 *ngIf="modify[i]" >Modifier:</h1>
          <ion-row>
            <h1 *ngIf="!modify[i]">{{project.Name}}</h1>
          </ion-row><br>
          <ion-input [(ngModel)]="project.Name" *ngIf="modify[i]" value="{{project.Name}}">Name: </ion-input>
          <ion-row>
            <h2 *ngIf="!modify[i]"><b>Respo:</b></h2>
            <h2 *ngIf="!modify[i]">{{project.ProjectManagerID}}</h2>
          </ion-row>
          <ion-input [(ngModel)]="project.ProjectManagerID" *ngIf="modify[i]" value="{{project.ProjectManagerID}}">Respo: </ion-input>
          <ion-row>
            <h2 *ngIf="!modify[i]"><b>Etat:</b></h2>
            <h2 *ngIf="!modify[i]">{{project.ProjectStatus}}</h2>
          </ion-row>
          <ion-input [(ngModel)]="project.ProjectStatus" *ngIf="modify[i]" value="{{project.ProjectStatus}}">Etat: </ion-input>
          <br><ion-row>
            <h2 *ngIf="!modify[i]"><b>BP:</b></h2>
            <h2 *ngIf="!modify[i]"> {{project.ForecastCost}}€ |</h2>
            <h2 *ngIf="!modify[i]"> {{project.ForecastTime}}H </h2>            
          </ion-row>
          <ion-input [(ngModel)]="project.ForecastCost" *ngIf="modify[i]" value="{{project.ForecastCost}}">BP (€): </ion-input>
          <ion-input [(ngModel)]="project.ForecastTime" *ngIf="modify[i]" value="{{project.ForecastTime}}">BP (H):</ion-input>
          <ion-row>
            <h2><b>BE:</b></h2>
            <h2> 100€ |</h2>
            <h2> 10H </h2>
          </ion-row>
          <br><ion-row>
            <ion-button color="primary" (click)="pushTo('/lots')">
              <ion-icon name="eye-outline" ></ion-icon>
            </ion-button>
            <ion-button color="success" (click)="modify[i]=!modify[i]">
              <ion-icon *ngIf="!modify[i]" name="pencil-outline"></ion-icon>
              <b *ngIf="modify[i]">OK</b>
            </ion-button>
            <ion-button color="danger" (click)="cloturer()">
              <ion-icon name="checkmark-done-outline"></ion-icon>
            </ion-button>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
